* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}